.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.cabecalho__nome{
    margin-top: 3rem;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 10rem;
    color: #2626a4d8;
}

.cabecalho__img{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    margin-right: 8rem;

}

.lista{
    margin-left: 6rem;
}

.cabecalho__lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.cabecalho__p{
    font-size: 4rem;
    margin: 0;
    color: #2626a4d8;
    font-weight: bold;
}

.cabecalho__item_p{
    font-size: 1rem;
}

.descricao{
    font-size: 2rem;
    margin: 2rem 6rem;
}

.carousel{
    width: 40vw;
    margin-left: 26rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.carousel-item img {
    height: 400px; /* Defina a altura desejada */
    object-fit: cover; /* Mantém a proporção da imagem e preenche o contêiner */
  }
  
.titulo__s{
    text-align: center;
}

.titulo__top{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.titulo__p{
    margin: 0.5rem;
}

.titulo__contato{
    margin: 0.2rem;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.foot{
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
    padding: 1rem;
    background-color: #a4dffd;
}

@media (max-width: 720px){
    .cabecalho__nome{
        font-size: 4rem;
        margin-left: 2rem;
    }

    .cabecalho{
        align-items: center;
        margin-left: 2rem;
        width: 100%;
    }

    .cabecalho__img{
        width: 60vw;
        height: 50vw;
        margin-right: 0;
    }

    .lista{
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        width: 75%;
    }

    .cabecalho__p{
        font-size: 2rem;
        
    }

    .cabecalho__lista{
        text-align: center;
        padding: 1.5rem;
    }

    .descricao{
        width: 90%;
        text-align: justify;
        font-size: 1.5rem;
        margin: 2rem 3rem;
    }

    .carousel{
        width: 90vw;
        margin-left: 4rem;
    }

    .titulo__s{
        width: 100%;
        margin-left: 2rem;
    }

    .foot{
        margin-right: -4rem;
        padding: 0.5rem;
    }

}